<template>
  <div>

    <hr>
    <div class="text-center">
      <p>
        Copyright (C) 2017 - {{ version }} - 
        <a href="https://muniz95.github.io/">Rodrigo Muniz</a>.
      </p>
      <p>
        All rights reserved. All trademarks are the property of their respective owners. Privacy policy.
      </p>
      <p>
        This site is hosted at somewhere. Contact, corrections and suggestions: Rodrigo Muniz
      </p>
      <p>
        Tips:
        <iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="100px" height="20px" src="https://ghbtns.com/github-btn.html?user=muniz95&repo=distrowatch-vue&type=star&count=true">
        </iframe>
      </p>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'dw-footer',
    computed: {
      version () {
        const { version } = this.$store.state
        return version
      }
    }
  }
</script>

<style>

p {
  font-size: 0.9em;
}

</style>

