<template>
  <div class="row">

    <div class="col-lg-6 div-col-md-6 col-sm-12 col-xs-12">
      Releases, download links and checksums:
      <div class="row">
        2017-09-24: Development Release: FreeBSD 10.4-RC2
      </div>
      <div class="row">
        2017-09-17: Development Release: FreeBSD 10.4-RC1
      </div>
      <div class="row">
        2017-07-26: BSD Release: FreeBSD 11.1
      </div>
      <div class="row">
        2017-07-15: Development Release: FreeBSD 11.1-RC3
      </div>
      <div class="row">
        2017-07-09: Development Release: FreeBSD 11.1-RC2
      </div>
      <div class="row">
        2017-07-01: Development Release: FreeBSD 11.1-RC1
      </div>
      <div class="row">
        2017-06-24: Development Release: FreeBSD 11.1-BETA3
      </div>
      <div class="row">
        2017-06-17: Development Release: FreeBSD 11.1-BETA2
      </div>
      <div class="row">
        2017-06-10: Development Release: FreeBSD 11.1-BETA1
      </div>
      <div class="row">
        2016-10-10: BSD Release: FreeBSD 11.0
      </div>
      <div class="row">
        2016-09-18: Development Release: FreeBSD 11.0-RC3
      </div>
      <div class="row">
        2016-08-25: Development Release: FreeBSD 11.0-RC2
      </div>
      <div class="row">
        <a href="#">More FreeBSD releases</a>
      </div>
    </div>
    <div class="col-lg-6 div-col-md-6 col-sm-12 col-xs-12">
      Headlines:
      <div class="row">
        2017-05-15 FreeBSD status report
      </div>
      <div class="row">
        2017-02-14 FreeBSD Quarterly Status Report
      </div>
      <div class="row">
        2017-01-01 FreeBSD EoL notices
      </div>
      <div class="row">
        2016-12-22 FreeBSD porting Wayland
      </div>
      <div class="row">
        2016-11-14 FreeBSD Quarterly Report
      </div>
      <div class="row">
        2016-10-11 386BSD website provides code archive
      </div>
      <div class="row">
        2016-10-04 Some FreeBSD versions reaching EoL
      </div>
      <div class="row">
        2016-09-30 FreeBSD 11.0 to be rebuilt
      </div>
      <div class="row">
        2016-09-06 FreeBSD gains CentOS 7 port
      </div>
      <div class="row">
        2016-08-19 FreeBSD video support
      </div>
      <div class="row">
        More FreeBSD headlines...
      </div>
    </div>

  </div>
</template>
<script>
  export default {
    name: 'distro-news'
  }

</script>
