<template>
  <div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Distribution</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">FreeBSD</div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Home Page</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <a href="http://www.freebsd.org/">FreeBSD Home Page</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Mailing Lists</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <a href="http://www.freebsd.org/community/mailinglists.html">FreeBSD Mailing Lists</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">User Forums</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <a href="http://forums.freebsd.org/">FreeBSD User Forums</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Alternative User Forums</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <a href="http://www.linuxquestions.org/questions/linux-distributions-5/">FreeBSD Alt. Forums</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Documentation</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <a href="http://www.freebsd.org/docs.html">FreeBSD Docs</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Screenshots</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Screencasts</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Download Mirrors</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <a href="http://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/mirrors-ftp.html">FreeBSD Mirrors</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Bug Tracker</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <a href="http://www.freebsd.org/support/bugreports.html">FreeBSD Bug Tracker</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Related Websites</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <a href="http://www.freebsdwiki.net/">FreeBSD Wiki</a><br>
        <a href="http://www.freebsdnews.net/">FreeBSD News</a><br>
        <a href="http://www.freebsddiary.org/">The FreeBSD Diary</a><br>
        <a href="http://blogs.freebsdish.org/">FreeBSD Planet</a><br>
        <a href="http://freebsd-custom.wikidot.com/">FreeBSD Custom Releases</a><br>
        <a href="http://www.freebsdmall.com/">The FreeBSD Mall</a><br>
        <a href="https://wiki.freebsd.org/FreeBSD/arm/Raspberry%20Pi">FreeBSD for Raspberry Pi</a><br>
        <a href="http://www.virtualbsd.info/">VirtualBSD</a><br>
        <a href="http://www.freshports.org/">FreshPorts</a><br>
        <a href="http://www.freebsdsoftware.org/">FreeBSD Ports</a><br>
        <a href="http://www.pugetsoundtechnology.com/training/freebsd/">FreeBSD System Administration Training</a><br>
        <a href="http://daemonforums.org/">DaemonForums</a><br>
        <a href="http://forums.bsdnexus.com/">BSDNexus</a><br>
        <a href="http://www.freebsdfoundation.org/">The FreeBSD Foundation</a><br>
        <a href="http://bsdsupport.org/">BSDSupport</a><br>
        <a href="http://www.onlamp.com/bsd/">BSD DevCenter</a><br>
        <a href="http://bxr.su/">Super User's BSD Cross Referrence</a><br>
        <a href="http://mdoc.su/">Manual Pages</a><br>
        <a href="http://en.wikipedia.org/wiki/FreeBSD">Wikipedia</a><br>
        <a href="http://www.gufi.org/">FreeBSD Italy</a><br>
        <a href="http://www.bsdforen.de/">BSDForen.de</a> (German)<br>
        <a href="http://www.bsdguru.org/">BSDGuru</a> (Polish)
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Reviews</div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        11.x:
        <a href="https://www.pro-linux.de/artikel/2/1886/freebsd-411-im-jahre-2017-installation-gestern-und-heute.html">Pro-Linux</a>        (German)<br>
        <a href="weekly.php?issue=20161107#freebsd">DistroWatch</a><br> 10.x:
        <a href="weekly.php?issue=20140210#feature">DistroWatch</a><br> 9.x:
        <a href="http://www.osnews.com/story/27348/The_BSD_family_pt_1_FreeBSD_9_1">OSNews</a><br>
        <a href="weekly.php?issue=20130211#feature">DistroWatch</a><br> 8.x:
        <a href="http://broadcast.oreilly.com/2010/06/im-a-bsd.html">O'Reilly Broadcast</a> <br>
        <a href="http://lwn.net/Articles/365945/">LWN</a><br> 7.x:
        <a href="http://www.tux.in.ua/articles/760">Linuxoid</a> (Russian)<br>
        <a href="http://h3g3m0n.wordpress.com/2008/03/03/freebsd-review-and-howtos-from-a-linux-user/">Wordpress</a><br>        6.x:
        <a href="http://itreviews.blogspot.com/2007/02/freebsd-power-to.html">Blogspot</a><br>
        <a href="http://www.serverwatch.com/sreviews/article.php/3569631">ServerWatch</a><br>
        <a href="http://www.aboutlinux.info/2005/11/linux-users-perspective-in-installing.html">about Linux</a><br>
        <a href="http://www.tuxmachines.org/node/2393">Tuxmachines</a><br> 5.x:
        <a href="review-freebsd">DistroWatch</a><br>
        <a href="http://www.osnews.com/story.php?news_id=5821">OSNews</a><br> 4.x:
        <a href="http://www.osnews.com/story.php?news_id=5106">OSNews</a>
      </div>
    </div>

  </div>
</template>
<script>
  export default {
    name: 'distro-summary'
  }

</script>
